body{
  background-color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

a{
  color: white;
  font-size: 18px;
}

h1{
  font-size: 70px;
  color: white;
  margin-top: 0;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

h1, h2, h3{
  font-weight: bold;
}

a, h1, h2, h3, p{
  font-family: Helvetica;
}

.content{
  background-color: white;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;
  text-align: center;
}

.heading{
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  margin: 0px;
}

.new_york{
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  color: white;
  font-family: Helvetica;
  font-size: 23;
}

.footer{
  background-color: dimgray;
  color: white;
  font-family: Helvetica;
  font-size: 11px;
  text-align: left;
}
